---
import ArrowBack from "../svg/ArrowBack.astro";
export const prerender = true;
import "@fontsource-variable/anek-latin";
import "@fontsource/aileron/400.css";
import "@fontsource/aileron/700.css";
---

<html lang="es">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/logo.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta
            name="description"
            content="Página de agradecimiento por confirmar la asistencia."
        />
        <title>Agradecimiento</title>
    </head>
    <body>
        <main
            class="flex items-center justify-center mt-6 md:mt-16"
            id="confirmarAsistencia"
        >
            <div
                class="p-5 sm:p-8 md:p-9 lg:p-0 rounded-lg w-[280px] xs:w-[350px] sm:w-[600px] lg:w-[800px] 2xl:w-[1100px]"
            >
                <a
                    href="/"
                    class="flex flex-row items-center text-base sm:text-xl lg:text-2xl font-bold opacity-60"
                >
                    <ArrowBack />
                    REGRESAR AL INICIO
                </a>
                <h1
                    class="font-display text-base xs:text-[21px] sm:text-4xl lg:text-5xl 2xl:text-6xl font-black mt-12 sm:mt-6 text-center sm:text-left"
                >
                    ¡GRACIAS POR CONFIRMAR TU ASISTENCIA A NUESTRO EVENTO!
                </h1>
                <h2
                    class="font-display text-sm sm:text-2xl lg:text-2xl 2xl:text-3xl font-medium w-full lg:w-[60ch] text-center sm:text-left"
                >
                    Estamos emocionados de tenerte con nosotros y esperamos que
                    sea una experiencia memorable para ti y para todos los
                    participantes.
                </h2>
                <h2
                    class="text-xs sm:text-lg lg:text-xl mt-12 sm:mt-6 text-pretty text-center sm:text-left"
                >
                    Para asegurarnos de que tu experiencia sea lo más placentera
                    posible, te recordamos que nuestro evento constará de un
                    ceremonia religiosa a las 6:00 P.M., mientras que la
                    recepcion comenzará a las 8:00 P.M. (Para ver más detalles
                    regresa al inicio).
                </h2>
            </div>
        </main>
    </body>
</html>
