---
import Navbar from "../components/Navbar.astro";
import Encabezado from "../components/Encabezado.astro";
import Ubicacion from "../components/Ubicacion.astro";
import "@fontsource-variable/anek-latin";
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Mi graduación</title>
	</head>
	<body>
		<header>
			<Navbar />
			<Encabezado />
		</header>
		<main>
			<Ubicacion />
		</main>
	</body>
</html>

<style is:global>
	body {
		font-family: "Anek Latin Variable", system-ui, sans-serif;
	}
</style>
