---
import Navbar from "../layouts/Navbar.astro";
import Encabezado from "../layouts/Encabezado.astro";
import Ubicacion from "../layouts/Ubicacion.astro";
import Quimicos from "../layouts/Quimicos.astro";
import ConfirmacionAsistencia from "../layouts/ConfirmacionAsistencia.astro";
export const prerender = true;
import "@fontsource-variable/anek-latin";
import "@fontsource/aileron/400.css";
import "@fontsource/aileron/700.css";
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/logo.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta
			name="description"
			content="Página informativa para un evento de descripción."
		/>
		<title>Mi graduación</title>
	</head>
	<body>
		<header>
			<Navbar />
			<Encabezado />
		</header>
		<main>
			<Quimicos />
			<Ubicacion />
			<ConfirmacionAsistencia />
		</main>
	</body>
</html>

<style is:global>
	body {
	}

	html {
		scroll-behavior: smooth;
		font-family: "Aileron", system-ui, sans-serif;
	}

	@media (prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}
</style>
