<div class="h-screen relative">
    <img
        src="./imagenes/cover.avif"
        class="absolute inset-0 h-full w-full object-cover brightness-75"
        alt=""
    />
    <div class="absolute inset-0 flex items-end justify-center">
        <div class="w-2/3 pb-28">
            <h1 class="text-9xl text-white font-black text-center">
                ¡ESTÁS INVITADO A MI FIESTA DE GRADUACIÓN!
            </h1>
        </div>
    </div>
</div>
