---
const numerosDel1Al10 = Array.from({ length: 10 }, (_, index) => index + 1);
---

<div class="flex flex-wrap -mx-3 mb-2">
    <div class="w-full px-3 mb-6 md:mb-0">
        <label class="md:w-2/3 block text-white font-bold">
            <input
                id="checkboxNiños"
                class="mr-2 leading-tight"
                type="checkbox"
                name="llevaraNiños"
            />
            <span class="text-sm uppercase">¿Llevará niños con usted?</span>
        </label>
    </div>
</div>
<div id="formularioNiños" class="hidden">
    <div class="flex flex-wrap -mx-3 mb-6 mt-4">
        {
            numerosDel1Al10.map((numero) => (
                <div class="w-full px-3" id={`campoNiño${numero}`}>
                    <label class="block uppercase tracking-wide text-white text-xs font-bold mb-2">
                        Edad del Niño {numero}
                    </label>
                    <input
                        type="number"
                        min="0"
                        value="1"
                        name={`edadNiño${numero}`}
                        class="appearance-none block w-full md:w-24 bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-2 mb-3 leading-tight focus:outline-none focus:bg-white"
                    />
                </div>
            ))
        }
    </div>
    <div class="flex justify-center md:justify-start mb-4 -mt-3">
        <button
            id="agregarNiño"
            class="bg-gray-800 border-yellow-400 border-2 hover:scale-105 text-yellow-400 p-2 rounded-lg text-sm font-bold transition mr-4"
            >Agregar otro niño</button
        >
        <button
            id="quitarNiño"
            class="bg-gray-800 border-yellow-400 border-2 hover:scale-105 text-yellow-400 p-2 rounded-lg text-sm font-bold transition"
            >Quitar campo</button
        >
    </div>
    <input
        type="hidden"
        name="cantidadNiños"
        id="contadorNiñosHidden"
        value="1"
    />
</div>

<script>
    const checkbox = document.getElementById("checkboxNiños");
    const formularioNiños = document.getElementById("formularioNiños");

    checkbox.addEventListener("change", () => {
        formularioNiños.style.display = checkbox.checked ? "block" : "none";
    });
</script>

<script>
    let contadorNiños = 1;
    const maximoNiños = document.querySelectorAll("[id^=campoNiño]").length;
    const contadorNiñosHidden = document.getElementById("contadorNiñosHidden");

    const mostrarOcultarNiño = (numero, estado) => {
        document.getElementById(`campoNiño${numero}`).style.display = estado
            ? "block"
            : "none";
    };

    const manejoCantidadNiños = (num, contador) => {
        contadorNiñosHidden.value = contador;
        for (let indice = 1; indice <= num; indice++) {
            const esAntesDeContador = indice <= contador;
            mostrarOcultarNiño(indice, esAntesDeContador);
        }
    };

    window.addEventListener("load", function () {
        manejoCantidadNiños(maximoNiños, contadorNiños);
    });

    const agregarNiño = document.getElementById("agregarNiño");
    agregarNiño.addEventListener("click", function (e) {
        e.preventDefault();
        if (contadorNiños < maximoNiños) {
            contadorNiños++;
            manejoCantidadNiños(maximoNiños, contadorNiños);
        }
    });

    const quitarNiño = document.getElementById("quitarNiño");

    quitarNiño.addEventListener("click", function (e) {
        e.preventDefault();
        if (contadorNiños > 1) {
            contadorNiños--;
            manejoCantidadNiños(maximoNiños, contadorNiños);
        }
    });
</script>
