---
const { evento, lugar, direccion, url } = Astro.props;
---

<div class="bg-black rounded-lg text-center text-white px-3 py-5">
    <h1
        class="text-2xl xs:text-3xl sm:text-4xl md:text-3xl lg:text-4xl font-bold"
    >
        {evento}
    </h1>
    <h2>{lugar}</h2>
    <p>{direccion}</p>
    <a href={url} target="_blank">Ver en el mapa</a>
</div>
