---
import { supabase } from "../lib/supabase";

const { data: quimicos } = await supabase.from("quimico").select("*");
---

<section class="flex items-center justify-center p-5" id="confirmarAsistencia">
    <div
        class="bg-black p-16 rounded-lg w-[280px] xs:w-[350px] sm:w-[600px] lg:w-[800px] 2xl:w-[1100px]"
    >
        <form class="w-full text-black">
            <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                    <label
                        class="block uppercase tracking-wide text-white text-xs font-bold mb-2"
                        for="grid-first-name"
                    >
                        Nombre
                    </label>
                    <input
                        class="appearance-none block w-full bg-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                        id="grid-first-name"
                        type="text"
                        placeholder="Coloca tu nombre"
                    />
                </div>
                <div class="w-full md:w-1/2 px-3">
                    <label
                        class="block uppercase tracking-wide text-white text-xs font-bold mb-2"
                        for="grid-last-name"
                    >
                        Apellidos
                    </label>
                    <input
                        class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                        id="grid-last-name"
                        type="text"
                        placeholder="Escribe tus apellidos"
                    />
                </div>
            </div>
            <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full px-3">
                    <label
                        class="block uppercase tracking-wide text-white text-xs font-bold mb-2"
                        for="grid-password"
                    >
                        A cual de nuestros quimicos farmacobiologos acompañará:
                    </label>
                    <select
                        class="block appearance-none w-full text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                        id="grid-state"
                    >
                        {
                            quimicos.map((quimico) => (
                                <option value={quimico.id}>
                                    {quimico.nombre}
                                </option>
                            ))
                        }
                    </select>
                </div>
            </div>
            <div class="flex flex-wrap -mx-3 mb-2">
                <div class="w-full px-3 mb-6 md:mb-0">
                    <label class="md:w-2/3 block text-white font-bold">
                        <input
                            id="checkboxNiños"
                            class="mr-2 leading-tight"
                            type="checkbox"
                        />
                        <span class="text-sm">¿Llevará niños con usted?</span>
                    </label>
                </div>
            </div>
            <div id="formularioNiños" class="hidden">
                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full px-3">
                        <label
                            for="edadNiño1"
                            class="block uppercase tracking-wide text-white text-xs font-bold mb-2"
                            >Edad del Niño 1</label
                        >
                        <input
                            type="number"
                            id="edadNiño1"
                            min="0"
                            name="edadNiño1"
                            class="appearance-none block w-24 bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                        />
                    </div>
                    <div class="w-full px-3">
                        <label
                            for="edadNiño2"
                            class="block uppercase tracking-wide text-white text-xs font-bold mb-2"
                            >Edad del Niño 2</label
                        >
                        <input
                            type="number"
                            id="edadNiño2"
                            min="0"
                            name="edadNiño2"
                            class="appearance-none block w-24 bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                        />
                    </div>
                </div>
            </div>
            <button
                id="agregarNiño"
                class="bg-gray-600 hover:bg-gray-400 text-white font-bold py-2 px-2 rounded transition"
                >Agregar otro niño</button
            >
            <button
                id="quitarNiño"
                class="bg-gray-600 hover:bg-gray-400 text-white font-bold py-2 px-2 ml-2 rounded transition"
                >Quitar campo</button
            >
        </form>
    </div>
</section>
<script>
    const checkbox = document.getElementById("checkboxNiños");
    const divAMostrar = document.getElementById("formularioNiños");

    checkbox.addEventListener("change", function () {
        if (checkbox.checked) {
            divAMostrar.style.display = "block";
        } else {
            divAMostrar.style.display = "none";
        }
    });

    const agregarNiño = document.getElementById("agregarNiño");
    agregarNiño.addEventListener("click", function (e) {
        e.preventDefault();
    });
    const quitarNiño = document.getElementById("quitarNiño");
    quitarNiño.addEventListener("click", function (e) {
        e.preventDefault();
    });
</script>
