<div class="h-screen relative">
    <img
        src="./imagenes/cover.avif"
        class="absolute inset-0 h-full w-full object-cover brightness-75"
        alt=""
    />
    <div class="absolute inset-0 flex items-end justify-center">
        <div
            class="w-[330px] xs:w-[380px] sm:w-[600px] lg:w-[800px] 2xl:w-[1200px] pb-28"
        >
            <h1
                class="text-4xl xs:text-[2.7rem]/10 sm:text-7xl lg:text-8xl 2xl:text-9xl text-white font-black text-center"
            >
                ¡ESTÁS INVITADO A MI GRADUACIÓN!
            </h1>
            <h2
                class="text-lg xs:text-xl sm:text-3xl lg:text-4xl text-white font-semibold text-center"
            >
                Te esperamos el 9 de Agosto del 2024
            </h2>
            <a href="#" class="flex justify-center mt-6 sm:mt-9"
                ><button
                    class="bg-white p-3 rounded-md text-base xs:text-lg sm:text-xl font-medium hover:scale-105 transition"
                    >Confirma tu asistencia</button
                ></a
            >
        </div>
    </div>
</div>
