---
const year = new Date().getFullYear();
---

<div class="bg-gray-100 mt-5 flex justify-center">
    <div class="text-center">
        <p class="py-2 text-text text-xs">
            © {year}
            <a href="https://portfolio-alpha-three-66.vercel.app/"
                >Diego Armando Gómez Martínez.</a
            >
            <span class="hidden sm:inline"> | </span>
            <br aria-hidden="true" class="block sm:hidden" />
            Casi todos los derechos reservados.
        </p>
    </div>
</div>
