---
const navElementos = [
    {
        titulo: "Inicio",
        label: "inicio",
        url: "/#inicio",
    },
    {
        titulo: "Quimicos",
        label: "quimicps",
        url: "/#quimicos",
    },
    {
        titulo: "Ubicación",
        label: "ubicacion",
        url: "/#ubicacion",
    },
    {
        titulo: "Asistencia",
        label: "asistencia",
        url: "#",
    },
];
---

<div
    class="fixed top-0 z-10 flex bg-black text-white justify-center items-center w-full bg-opacity-50 h-12"
>
    <div>
        <nav class="flex flex-row">
            {
                navElementos.map((link) => (
                    <a
                        href={link.url}
                        class="relative block px-2 py-2 font-bold transition hover:scale-110 text-sm xs:text-base "
                    >
                        {link.titulo}
                    </a>
                ))
            }
        </nav>
    </div>
</div>
