---
import { listaQuimicos } from "../constants/quimicos";
---

<section class="flex flex-col items-center justify-center" id="quimicos">
    <div
        class="w-[280px] xs:w-[350px] sm:w-[600px] lg:w-[800px] 2xl:w-[1100px]"
    >
        <h1
            class="text-center text-[22px]/[19px] xs:text-[28px]/[23px] sm:text-4xl md:text-4xl lg:text-5xl 2xl:text-6xl font-display font-black mt-8 md:mt-12"
        >
            ¡UN BRINDIS POR NUESTROS NUEVOS QUÍMICOS FARMACOBIÓLOGOS!
        </h1>
        <h2
            class="text-center text-[16px]/[14px] xs:text-[20px]/[17px] sm:text-xl md:text-xl lg:text-2xl 2xl:text-3xl font-display font-medium mb-3 sm:mb-9 mt-2 text-pretty"
        >
            UN VISTAZO AL MAÑANA DE LA QUÍMICA: INTRODUCIENDO A NUESTRA NUEVA
            GENERACIÓN DE PROFESIONALES
        </h2>
        <div
            class="grid grid-cols-1 sm:grid-cols-2 gap-x-7 lg:gap-x-9 xl:gap-x-12"
        >
            {
                listaQuimicos.map((quimico) => (
                    <span class="text-[13px]/[18px] xs:text-[13px]/[18px] sm:text-[17px]/6 lg:text-xl text-center">
                        {quimico.nombre}
                    </span>
                ))
            }
        </div>
    </div>
</section>
