---
import UbicacionElemento from "../components/UbicacionElemento.astro";
---

<section class="flex flex-col items-center justify-center mt-16" id="ubicacion">
    <h1
        class="text-base xs:text-lg sm:text-2xl lg:text-3xl font-display font-medium"
    >
        <span class="inline-block xs:hidden">LAS CELEBRACIONES SERÁN EL</span>
        <span class="hidden xs:inline-block"
            >LAS CELEBRACIONES SE LLEVARÁN A CABO EL</span
        >
    </h1>
    <h1
        class="text-[28px]/6 xs:text-[35px]/8 sm:text-5xl lg:text-6xl font-display font-black mb-10"
    >
        VIERNES, 9 DE AGOSTO
    </h1>
    <div
        class="text-center md:text-left grid grid-cols-1 md:grid-cols-2 gap-x-0 gap-y-1 md:gap-12 lg:gap-16 2xl:gap-28 w-[280px] xs:w-[350px] sm:w-[600px] lg:w-[800px] 2xl:w-[1100px]"
    >
        <UbicacionElemento
            evento="Ceremonia Religiosa"
            imagen="./imagenes/ceremonia.avif"
            hora="06:00 P.M."
            lugar="Templo de San Diego"
            direccion="Av. Tata Vasco 45-3, Centro histórico de Morelia, 58230 Morelia, Mich."
            url="https://maps.app.goo.gl/Urr1aLe8bsu1vXJw7"
        />

        <UbicacionElemento
            evento="Recepción"
            imagen="./imagenes/fiesta.avif"
            hora="08:00 P.M."
            lugar="Quinta Santa fe"
            direccion="Sobre Av. Atecuaro, Morelia, Mich."
            url="https://maps.app.goo.gl/4j8uphSJqsvk2Qht5"
        />
    </div>
</section>
