---
import UbicacionElemento from "../components/UbicacionElemento.astro";
---

<section class="flex flex-col items-center justify-center mt-7" id="ubicacion">
    <h1
        class="text-lg xs:text-xl sm:text-3xl lg:text-4xl font-display font-black mt-12"
    >
        NUESTROS EVENTOS SON EL
    </h1>
    <h1
        class="text-2xl xs:text-[33px]/8 sm:text-5xl lg:text-6xl font-display font-black mb-10"
    >
        VIERNES, 9 DE AGOSTO
    </h1>
    <div
        class="text-center md:text-left grid grid-cols-1 md:grid-cols-2 gap-x-0 gap-y-1 md:gap-12 lg:gap-16 2xl:gap-28 w-[280px] xs:w-[350px] sm:w-[600px] lg:w-[800px] 2xl:w-[1100px]"
    >
        <UbicacionElemento
            evento="Ceremonia Religiosa"
            imagen="./imagenes/ceremonia.avif"
            hora="06:00 P.M."
            lugar="Templo de San Diego"
            direccion="Av. Tata Vasco 45-3, Centro histórico de Morelia, 58230 Morelia, Mich."
            url="https://maps.app.goo.gl/Urr1aLe8bsu1vXJw7"
        />

        <UbicacionElemento
            evento="Recepción"
            imagen="./imagenes/fiesta.avif"
            hora="08:00 P.M."
            lugar="Quinta Santa fe"
            direccion="Sobre Av. Atecuaro, Morelia, Mich."
            url="https://maps.app.goo.gl/4j8uphSJqsvk2Qht5"
        />
    </div>
</section>
