---
import UbicacionElemento from "../components/UbicacionElemento.astro";
---

<section
    class="flex flex-col items-center justify-center mt-11 sm:mt-16"
    id="ubicacion"
>
    <h1
        class="text-base xs:text-lg sm:text-2xl lg:text-3xl font-display font-medium"
    >
        <span class="inline-block xs:hidden">LAS CELEBRACIONES SERÁN EL</span>
        <span class="hidden xs:inline-block"
            >LAS CELEBRACIONES SE LLEVARÁN A CABO EL</span
        >
    </h1>
    <h1
        class="text-[28px]/6 xs:text-[35px]/8 sm:text-5xl lg:text-6xl font-display font-black mb-6 sm:mb-10"
    >
        VIERNES, 9 DE AGOSTO
    </h1>
    <div
        class="text-center md:text-left grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-12 lg:gap-16 2xl:gap-28 w-[280px] xs:w-[350px] sm:w-[600px] lg:w-[800px] 2xl:w-[1100px]"
    >
        <UbicacionElemento
            evento="Ceremonia Religiosa"
            imagen="./imagenes/ceremonia.avif"
            hora="06:00 P.M."
            lugar="Templo de San Diego"
            direccion="Av. Tata Vasco 45-3, 58230 Morelia, Michoacan"
            url="https://maps.app.goo.gl/N3VcbfkTEHB883Wn6"
        />

        <UbicacionElemento
            evento="Recepción"
            imagen="./imagenes/fiesta.avif"
            hora="08:00 P.M."
            lugar="Quinta Santa Fe"
            direccion="Sobre Avenida Atecuaro, Morelia, Michoacan"
            url="https://maps.app.goo.gl/jHBwoCQTXCpViMh19"
        />
    </div>
</section>
